:root {
  --laranja: #ff760c;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: blue;
}
body header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--laranja);
  height: 100px;
}
body header h1 {
  margin: 0;
}
body header h2 {
  background-color: #fff;
  padding: 20px;
  color: #ff760c;
}
body section {
  background-color: #ff760c66;
  height: calc(100vh - 200px);
}